body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: crimson;
}

.title {
  text-align: center;
  padding-top: 10px;
}

.helloandnotice {
  text-align: center;
}

.button {
  text-align: center;
}

.btn {
  width: 100px;
  height: 25px;
  border-radius: 10px;
}
